/* This file is for your main application css. */

@import "bootstrap";

/* Formatting for the Submit Comment button */
.btnInside {
	position:relative;
	margin-bottom:50px;
}

.btnComment {
	font-size: 12px;
  color: black;
	background-color: white;
	position:absolute;
	right: 10px;
	top: 10px;
	border: none;
	height: 20px;
	width: 70px;
	outline: none;
	text-align: center;
	font-weight: bold;
	padding: 0px;
}

.invalid-feedback {
  display: block;
}
