<h1>Create New Event</h1>
<%= if @conn.assigns[:current_user] do %>
  <%= render "form.html", Map.put(assigns, :action, Routes.post_path(@conn, :create)) %>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
<% else %>
  <p>Please <%= link "register", to: Routes.user_path(@conn, :new) %> or login to create a new event.</p>
<% end %>
